.example-card {
    max-width: 80%;
    margin: 2rem auto;
}

.example-header-image {
    background-image: url('/assets/img/angular.png');
    background-size: cover;
}

mat-card-header {
    margin-bottom: 2rem;
}

mat-card-content p {
    font-size: 1.1rem;
    line-height: 25px;
    text-align: justify;
}

mat-card-content span{
    font-weight: bold;
}

div {
    display: flex;
    align-items: center;
}

div mat-checkbox {
    padding-right: 8px;
}