<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Stefanini App</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Your task is to create a project using <span>Angular 2+</span> which will interact with a mock API managed
            by <span>json-server</span>.
        </p>
        <p>
            Key technologies you must use:
        </p>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-checkbox>
                    <span>Angular</span> &nbsp; - https://angular.io/guide/quickstart
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-checkbox>
                    <span>Json-server</span> &nbsp; - https://www.npmjs.com/package/json-server
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-checkbox>
                    <span>Material-UI</span> &nbsp; (Optional) - https://material.angular.io/
                </mat-checkbox>
            </mat-list-item>
        </mat-list>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                The application will initially display a list of publications sorted by date in descending order. Each
                publication must have a title, a description and a date. In turn, publications will be associated to an
                author, who will have a first name, last name and email address. The author’s information must be
                displayed as part of the publication.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                The list of publications must be paginated, limiting the number of entries to a maximum of 10 at a time.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                The user should be able to invert the order of publications showing the oldest ones first.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                All the authors should be listed in a sidebar, and the user should be able to click on one of them to
                see a
                list of their publications.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                Anything that is not specified here is up to your criteria, taking into account all the points mentioned
                above.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                Include a README.md file <span>in english</span> with instructions on how to build and run your code
                locally. Please make
                sure that you include the sample data that will be served by <span>json-server</span>.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                The project must be <span>production ready</span>, which means proper format and comments in english, no
                unused code, no
                lint errors, etc.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                Upload your code to a <span>private</span> GitHub repository and add <span>pablocioccio</span> as a
                collaborator when you are
                finished.
            </p>
        </div>
        <div>
            <mat-checkbox>
            </mat-checkbox>
            <p>
                You will have <span>5 - 7 days (weekend included)</span> to complete the assignment.
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button routerLink="/">Home</a>
    </mat-card-actions>
</mat-card>